<div *ngIf="isNew; else saved">
  <form [formGroup]="formModel">
    <fieldset>
      <legend>Project Form</legend>
      <section>
        <label for="id">ID</label>
        <input name="id"
               type="text"
               formControlName="id"
               placeholder="Project ID" />
        <span>{{ getError('id')}}</span>
      </section>
      <section>
        <label for="name">Name</label>
        <input name="name"
               type="text"
               formControlName="name"
               placeholder="Project name" />
        <span>{{ getError('name')}}</span>
      </section>
      <input value="New"
             type="submit"
             (click)="new()"
             [disabled]="formModel.invalid" />
    </fieldset>
  </form>
</div>
<ng-template #saved>
  The {{project.id}} is saved. Go To <a routerLink="/projects">List of projects</a>
</ng-template>
